
.info-wrapper{
	// background-color: yellow;
	float:left;
	height: 300px;
	width: 100%;
	#news{
		width: 50%;
		height: 300px;
		float:left;
		// background-color: blue;
		border-right: 1px solid #979797;
	}
	#events{
		float:left;
		width: 49%;
		height: 300px;
		// background-color: pink;
	}
	h4{
		text-align:center;
		text-decoration:underline;
	}
	margin-bottom: 20px;
}
