
.wrapper{
	#section-title{
		font-size: 64px;
	}
	#joseIsSpecial{
		display:inline-block;
	}
	height: 200vh;
	#council{
		padding: 25px;
		text-align:center;
		background-color:white;
		height: 100%;
		*{
		font-family: Arial, Geneva, SunSans-Regular, sans-serif;
		color: #666;
		line-height: 22px;
		}
		.council-member{
			width: 200px;
			align:center;
			.exec-board{
				height: 175px;
				width: 175px;
				border-radius: 87.5px;
				-webkit-border-radius: 87.5px;
				-moz-border-radius: 87.5px;

			}
			.comissioner{
				// height: 110px;
				// width: 110px;
				// border-radius: 55px;
				// -webkit-border-radius: 55px;
				// -moz-border-radius: 55px;
				height: 175px;
				width: 175px;
				border-radius: 87.5px;
				-webkit-border-radius: 87.5px;
				-moz-border-radius: 87.5px;
			}
		}
		.rest{
			overflow:hidden;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			justify-content: center;
			flex-wrap: none;
			-webkit-flex-direction: row; /* Safari */
			flex-direction: row;
			-webkit-justify-content: space-between; /* Safari */
			justify-content:         space-between;
			#branch{
				overflow: hidden;
				width:300px;
				height: 50px;
				text-align: center;
				// padding-left:10vh;
				// padding-right: 10vh;
				justify-content: space-around;
				// justify-content: flex-start;
			}
			#branch0{
				flex-grow: 1;
			}
			#branch1{
				flex-grow: 1;
			}
			#branch2{
				flex-grow: 1;
			}
			#branch3{
				flex-grow: 1;
			}
		}
		margin-bottom: 20px;
		.well{
			max-width: 200px;
			border-radius: 10px 10px 10px 10px;
			-moz-border-radius: 10px 10px 10px 10px;
			-webkit-border-radius: 10px 10px 10px 10px;
			border: 0px solid #000000;
			background-color:rgb(211,211,211);
			-webkit-box-shadow: 0px 12px 7px -2px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 12px 7px -2px rgba(0,0,0,0.75);
			box-shadow: 0px 12px 7px -2px rgba(0,0,0,0.75);
			display:none;
			color:black;
			text-align: center;
			font-size: 14px;
		}
	}
}