<p>Core Values</p>

<p>We take pride in promoting and assisting students towards being well rounded individuals and feel a sense of belonging in the School of Engineering. Our 4 core values emphasize and highlight the fields that our events encompass! So if one piques your interest, be sure to check it out<a href="http://schoolofengineering89838.orgsync.com/org/undergraduatestudentcouncil#calendar" style="color:purple"> in the calendar! </a></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>1)&nbsp;Innovation/Entrepreneurship</p>

<p>-Meet the Young Guru</p>

<p>-&ldquo;Make your own event&rdquo; by USS</p>

<p>-Celebrate Engineering Week</p>

<p>&nbsp;</p>

<p>2) Leadership</p>

<p>-USS</p>

<p>-UCSL Elections</p>

<p>&nbsp;</p>

<p>3) Community/Global building</p>

<p>-Mentorship</p>

<p>-Peanut Butter and Jelly sandwich&nbsp;and Meet The Candidates</p>

<p>-All U Games</p>

<p>Professor of the month</p>

<p>&nbsp;</p>

<p>4) Transparency of resources</p>

<p>-Coffee&nbsp;Monday, which happens every first working&nbsp;Monday&nbsp;of the month, is a chance for you to chat with a student council representative over a cup of free coffee and ask all your&nbsp; questions- how do I suggest events I like?[link to suggestion thingie] where can I get involved with this?[link to volunteering committee]</p>

<p>Branches Overviews</p>

<p>&nbsp;</p>

<p>Mini branch descriptions from each branch</p>

<p>&nbsp;</p>

<p>Given below are our meeting minutes and budget projections and funding plans! If you are really interested in keeping us on our toes and asking questions regarding these, look at these and join us over the the GBMs!</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
