/*RESET STYLES*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
/* HTML5 RESETS FOR OLDER BROWSERS */
article, aside, figure, figure img, hgroup, footer, header, nav, section {
  display: block;
}

/*ol, ul { list-style: none; }*/
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, select { vertical-align: middle; }
a img { border: 0; }
:focus { outline: 0; }
a:hover, a:active { outline: none; }

/**********************************************************************************/

body{
  height:100%;
  text-align:center;
  background-color: #FAFAFA;
}
body a { color:#fff);

#wrapper{
  /*position:relative;*/
  height:85vh;
  margin:0;
  width: 100vw;
}

#welcomeBar{
  height:6vh;
  background-color:blue;
  line-height:6vh;
  text-align:center;
  margin-bottom:10px;
}
#welcomeBar span{
  color:white;
  display:inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size:36px;
}

.headerBar{
  width:100vw;
  background-color:#57068C;
  height: 70px;
  text-align: center;
  -webkit-box-shadow: 0 7px 4px #777;
  -moz-box-shadow: 0 7px 4px #777;
  box-shadow: 0 7px 4px #777;
}

.headerBar #nyu{
  height: 70px;
  float: left;
}

.headerBar #headerItems{
  list-style-type: none;
  margin:auto;
  overflow: hidden;
  float:right;
  margin-right: 30px;
  text-align:center;
}

.headerBar #headerItems li{
    display: inline;
    text-align:center;
    float: left;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    padding-left:10px;
    padding-right:10px;
    color:white;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.headerBar #headerItems li:hover{
    color:#979797;
}

.Info-Enclosure{
  height: 30vh;
  width: 100vw;
  margin-bottom:5vh;
  margin-top: 5vh;
}

#news{
  float:left;
  height:100%;
  width:50%;
  border-right: 1px solid #979797;
}

#todayEvents{
  float:right;
  height:100%;
  width:49%;
}

#navLink ~ #navLink{border-left: 1px solid #979797;}

footer{
  /*position: absolute;*/
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color:#57068C;
  text-align: center;
  height: 44px;
}
footer #footerItems{
  list-style-type: none;
  margin: auto;
}

footer #footerItems li{
  display: inline;
  float: right;
  margin: 0;
  color: white;
}


.social{
  height:44px;
  width:44px;
}

.social:hover{
  opacity:100%;
  -webkit-filter: saturate(3);
  filter: saturate(3);
}

header{
  border-bottom: 1px solid #979797;
}

/*footer.footerBar{
  box-shadow: 10px 10px 5px #888888; 
}*/
