/*RESET STYLES*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
/* HTML5 RESETS FOR OLDER BROWSERS */
article, aside, figure, figure img, hgroup, footer, header, nav, section {
  display: block;
}

/*ol, ul { list-style: none; }*/
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, select { vertical-align: middle; }
a img { border: 0; }
:focus { outline: 0; }
a:hover, a:active { outline: none; }

/**********************************************************************************/

body{
  height:100%;
}

#wrapper{
  min-height:100vh;
  position:relative;
}

.headerBar{
  width:100vw;
  background-color:#57068C;
  height: 70px;
  text-align: center;
}

.headerBar #nyu{
  height: 70px;
  float: left;
}

.headerBar #headerItems{
  list-style-type: none;
  margin:auto;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  margin-left:50%;
  text-align:center;
}

.headerBar #headerItems li {
    display: inline;
    text-align:center;
    float: left;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    padding-left:10px;
    padding-right:10px;
    color:white;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.headerBar #headerItems li:hover{
    color:#979797;
}

#headerItems li ~ #headerItems li{border-left: 1px solid #979797;}

footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color:#57068C;
  text-align: center;
}
footer #footerItems{
  list-style-type: none;
  margin: auto;
}

footer #footerItems li{
  display: inline;
  float: right;
  margin: 0;
  color: white;
}

.social{
  height:44px;
  width:44px;
}

.social:hover{
  opacity:100%;
  -webkit-filter: saturate(3);
  filter: saturate(3);
/*  visibility: hidden;
*/}