/*
* GLOBAL
*/
/*
* Variables for index page
*/
.wrapper {
  width: 96vw;
  padding: 0 2vw;
  padding-bottom: 5vh;
  height: 100vh;
  margin: 0;
  margin-left: 2vw;
  padding: 10vh 2vw;
  height: 100vh; 
 
}

        
body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  background-color: #edeff0;
  color: #222;
  line-height: 150%;
  margin: 0;
  padding: 0;
  width: auto;

}

a {
  color: #000;
  weight: 600;
  text-decoration: none; }

.carousel-holder {
  height: 85vh;
  width: 100vw;
  max-height: 80vh;
  background-color: rgba(192, 192, 192, 0.1);
  padding-top: 0;
  display: inline-block;
  float: right;
  width: 100%;
  margin-bottom: 7vh;
  margin-top: 1vh; }

.info-wrapper {
  float: left;
  height: 300px;
  width: 100%;
  margin-bottom: 20px; }
  .info-wrapper #news {
    width: 50%;
    height: 300px;
    float: left;
    border-right: 1px solid #979797; }
  .info-wrapper #events {
    float: left;
    width: 49%;
    height: 300px; }
  .info-wrapper h4 {
    text-align: center;
    text-decoration: underline; }

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
  vertical-align: center; }

.carousel-inner {
  max-height: 80vh;
  height: 80vh; }

#gallery {
           
            background-color: #57069C;
            width: 1920px;
            height: 940px;
            position: relative;
            right:77px;
            bottom: 20px;
           
            
    
        }
.navbar-header {
            position: relative;
            top: -14px;
        }
        
    .gallery_thumbnails a img {
            position: relative;
            right: 10px;
        }

#gallery a img { border: none; }
#gallery a { color: #fff; }
#gallery a:hover { color: #bbb; }


#gallery a.zoom { font-size: .8em; background: url(../images/template/link_zoom.png) no-repeat 0px 0px; padding: 0px 0px 5px 20px; text-transform: uppercase; text-decoration: none }

.clear_both { clear: both; line-height: 1px; }

.gallery_data { padding: 40px; display: none; }
.gallery_preload_area { display: none; }

.gallery_container { width: 950px; margin: 20px auto 0px auto; }

.gallery_credit { margin: 0px 0px 10px 15px; float: left; width: 425px; }
.gallery_type { margin: 0px 0px 10px 0px; float: left; width: 950px; text-align: right; padding: 4px 0px 0px 0px; }

.gallery_top {
	margin: 0px;
	padding: 0px;
	height: 20px;
	
}
.gallery_content {
	margin: 0px;
	padding: 15px 0px 1px 0px;
    position: relative;
    bottom:50px;
	
}
.gallery_bottom {
	margin: 0px;
	padding: 0px;
	height: 20px;
	
}
.gallery_thumbnails { width: 950px; margin-left: 20px; float: left;  }
/*
.gallery_thumbnails a {
	display: block;
	height: 75px;
	width: 75px;
	float: left;
	border: 1px solid #555;
	margin: 0px 23px 23px 0px;
    position: relative;
}
*/
.gallery_thumbnails a:hover { border-color: #fff; }
.gallery_thumbnails a.selected { border-color: #fff; }

.gallery_preview { width: 375px; height: 375px; float: left; }
.gallery_preview a { display: block; width: 375px; height: 375px; border: 1px solid #555; }
.gallery_preview a:hover { border-color: #fff; }


.gallery_caption { width: 375px; float: left;  }


/* Hide for browsers with no JavaScript support */

.gallery_data { display: block }
.gallery_thumbnails { width: 950px; }
.gallery_preview { display: none; }
.gallery_caption { display: none; }

.fancybox-nav {
    width: 60px;       
}

.fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}

.fancybox-nav:hover span {
    opacity: 1;
}

.fancybox-next {
    right: -60px;
}

.fancybox-prev {
    left: -60px;
}

.chevron {
    width:30%;
    position:absolute;
    top:40%;
}
.chevron-left {
    left:5%;
}
.chevron-right {
    right:5%;
}
.fancybox {
  height: 500px;
  margin-bottom: 60px;
}
.fancybox .thebox {
  height: 500px;
  background-color: #777;
}

.fancy > .thebox > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/*# sourceMappingURL=index.css.map */
