/*
* GLOBAL
*/

$body-bg-color: #edeff0;
$body-text-color: #222;
$body-font-family: "Open Sans", sans-serif;
$body-font-size: 100%;
$body-line-height: 150%;

$link-color: #000;
$link-weight: 600;


$nyu-purple: #57068C;

$wrapper-height: 100vh;
$nav-height: 10vh;

$social-ico-height: 44px;